<!DOCTYPE html>
<html>
    <head>
        <title>{{ user }}</title>
    </head>
    <body>
        <h1>{{ user }}</h1>
        <div id="sheet list">
            <ul>
            {% for sheet in sheet_list %}
                <li><a href="{% url 'sheet' id=sheet.id %}">{{ sheet.name }}</a> (3.5e)</li>
            {% empty %}
                You have no sheets.
            {% endfor %}
            </ul>
        </div>
        <form id="new sheet" action="/profile/" method="post">
			{% csrf_token %}
			{{ form.as_table }}
			<input type="submit" value="New Sheet" />
		</form>
        <div id="management">
            <p><a href="{% url 'pwd_reset' %}">Reset password</a></p>
            <p><a href="{% url 'logout' %}">Log out</a></p>
        </div>
    </body>
</html>